/* Special:Bucket input form */
span.bucket-orderby-group {
  display:flex;
  max-width: 50em;
}

.bucket-orderby-group > .oo-ui-fieldLayout {
  flex-grow: 1;
}

.bucket-orderby {
  position: relative;
  z-index: 1;
}

div.bucket-orderby-direction {
  margin-top: 0px;
}